<p id="notice"><%= notice %></p>

<%= link_to 'New Task', new_task_path, class: "float-right btn btn-primary" %>

<h1>Tasks</h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Project</th>
      <th>Name</th>
      <th>Start at</th>
      <th>End at</th>
      <th>Status</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody id="paginationList">
    <%= render 'tasks_list' %>
  </tbody>
</table>

<div id="paginator" class="row justify-content-center">
  <%= paginate @tasks, remote: true %>
</div>
